[submodule "dependencies/Eventbus"]
	path = dependencies/Eventbus
	url = https://github.com/greenrobot/EventBus.git
[submodule "dependencies/Android-PullToRefresh"]
	path = dependencies/Android-PullToRefresh
	url = https://github.com/chrisbanes/Android-PullToRefresh.git
[submodule "dependencies/slideout"]
	path = dependencies/slideout
	url = https://github.com/korovyansk/android-fb-like-slideout-navigation.git
